html {
  position: relative;
  min-height: 100%;
}

html body
{
  height: 100%;
  width: 100%;
  font-family: 'Isidora Sans', sans-serif;
}


/* reset */
ul li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

/* header */

header .row{
  padding-left: 60px;
  padding-right: 60px;
}

header{
    padding-top: 5px;
}
.logo{
  margin-top: 5px;
  margin-bottom: 15px;
}

.Headerbuttons ul {
    display: flex;
    justify-content: flex-end;
}

.Headerbuttons ul li {
    margin-left: 15px;
    margin-top: 15px;
}
.signin a {
  color:#702283;
  font-weight: 600;

}
.signin a:hover {
  color: #702283;
}
.join a {
    color: white;
    font-weight: 600;
    background-color: #00a870;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
}
.join a:hover {
  color:white;
}

.profile-head{
  border-color:#00a870;

}
.profileiqon{
max-width: 40px;
margin-right:15px;
margin-bottom: 5px;
}
.Smalldown{
  margin-top: 15px;
  margin-left: 15px;

}
.Notif{
margin-left: 15px;
margin-top: 10px;
}
.Num{
  color: black;
  font-size: 12px;
}

.dropdown{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.dropdown h6{
  margin-top: 10px;
  color: #702283;
  font-weight: 600;
  text-decoration: none !important;
}
header .dropdown-menu{
  position: absolute;
  background: #fff;
  z-index: 3;
  position: absolute;
  padding:0px 0px 15px 0px;
  margin:15px 0px 0px 61px !important;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 250px;
  border: none;
  top:66px;
  right: 0;
  z-index: 3;
  display:none;
}

.dropdown .dropdown-menu::before{
  position: absolute;
  left: 70%;
  top: -9px;
  width: 0;
  height: 0;
  content: '';
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid gray;
  opacity: 0.4;

}
.dropdown .dropdown-menu::after{
  position: absolute;
  left: 70%;
  top: -9px;
  width: 0;
  height: 0;
  content: '';
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.dropdownheader{
 color:#00a870;
}
.dropdown ul li {
  display: flex;
}
.dropdown-profileiqon{
  width: 60px;
  height: 60px;
  margin-top: 15px;
  margin-left: 15px;

}
.dropdown-menu h6{
  color: #00a870;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none !important;
  padding-top: 5px;
  margin-left: 15px;

}

.dropdown-menu p{
  margin-top: 5px;
  font-weight: 600;

}
.dropdownitem{
  margin-left: 30px;
  margin-bottom: 5px;
  color: #555555;
  font-weight: 500;
}
.dropdownitem:hover{
  color: #00a870;
}

.atprofile{
font-size: 13px;
color: black;
}
.dropdown-menu .profile-hr{
  margin-left: 30px;
  margin-right: 30px;
  border-top: 2px solid black;
  opacity: 0.1;
}
/* Navbar */
.container {
  margin-left: 140px;
}
nav {
  box-shadow: 0 3px 4px -5px #000, 0 -3px 4px -5px #000;

}
.navbar {
  overflow: hidden;
}

nav ul {
  display: flex;
  justify-content:flex-start !important;
}

nav .nav{
  padding-left: 60px;

}

.nav-item a{
  color: #702283;
  font-weight: 600;
  margin-left: none;
  text-decoration: none !important;
  justify-content: flex-start !important;

}

nav span {
  color: #00a870;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  justify-content: flex-end !important;
}
nav span .vertical-line{
  border-left: 1px solid #00a870;
  display: inline;
  margin-left: 20px;
}
nav span a {
  margin-left: 20px;
}
nav .navbar-text{
  margin-right: 20px
}
.search{
  height: 18px;
  width: 18px;
 border-radius: 25px;
 border :2px solid #00a870;
 background-color: transparent;
 outline: none;
 padding-left: 8px;
 box-sizing: border-box;
 transition: 0.5s;
 margin-right: 60px;
 margin-top: 7px;
}
::placeholder{
opacity: .5;
color: #00a870;
font-size: 12px;;

}
.search:focus{
width: 150px;
color: black;
}
.searchtext{
  display: flex;
  font-size: 14px;
}
.search:focus .navbar-text{
display: none;
}
.search:focus::placeholder{
  opacity: .5;
  color: #00a870;
  font-size: 12px;
}
.searchbox{
  position: relative;
  justify-content: flex-end !important;
}
.searchbox::before{
position: absolute;
content: '';
background-color:#00a870;
height: 7px;
width: 2px;
transform: rotate(-45deg);
right: 0;
bottom: 5px;
margin-right: 60px;

}
.search::-webkit-search-cancel-button{
left: 10px;
-webkit-appearance: none;
position: relative;
color: #00a870;
}
.search:focus::-webkit-search-cancel-button{
left: 2px;
color: #00a870;
}
.navbar .nav .nav-link {
  color: #702283;
  font-size: 14px;
  position: relative;
}

.navbar .nav .nav-link:hover {
  color: #702283;
}


.navbar .nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #702283;
  color: transparent;
  width: 0%;
  content: '.';
  height: 2px;
}
.navbar .nav .nav-link.active::after {
  width: 74%;
}

nav ul li{
  margin-left:-17px;
}

/* sticky header */

#header {
  background-color: white;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}
.main {
  margin-top: 110px;
  margin-bottom: 340px;
}
/* Components */
.card-content1 h5 {
  font-weight: 700;
}
.card-border1 {
  padding: 20px 60px;
}
.Logged {
  padding-top: 45px;
}
.card-body img{
  width: 100%;
  max-height: 22vw;
  object-fit: cover;

}
.card-body {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-content1{
  color: #702283;
  display: flex;
  justify-content:flex-end;
  flex-direction:column;
  align-items:flex-end;
  padding: 15px;
}
.card-content1 p{
  font-size: 14px;
  padding-top: 10px;
  margin-top: 20px;
  text-align: right;
  font-weight: normal;
  color: black;
  width: 200px;
  height: 98px;
  overflow:hidden;
  text-overflow: clip;
  margin-bottom:29px;
}
.card-content1 button:hover{
  color: white;
  background-color: #00a870;
  font-weight: 500;
}

.h6{
  margin-left:60px;
  margin-top: 60px;
  color : #702283;
  font-weight: 600;
}

.hr {
  border-top: 1px solid #00a870;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 35px;
  opacity: 0.4;
}

.card-body2{
  color: #702283;
  padding-top: 16px;
  margin-bottom: 40px;
  margin-left: 27px;
  width: 206px;
  height: 251px;
}

.card-content2{
  text-align: center;
}
.card-content2 p{
  font-size: 12px;
  font-weight: normal;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  overflow:hidden;
  text-overflow: clip;
  text-align: center;
}

.card-content2 h6{
  color: black;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.btn-more{
  font-weight: 600;
  font-size: 12px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  color: #00a870;
  border: 1px solid #00a870;
  border-radius: 5px;
}
.card-content2 button:hover{
  color: white;
  background-color: #00a870;
  font-weight: 500;
}

.card-body2 img {
  max-width: 206px;
  max-height: 7vw;
  object-fit: cover;
}
.card-body1 {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
}
.card-body1 img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  padding: 15px 15px 0px 15px ;

}
.card-content3{
  color: #702283;
  display: flex;
  justify-content:flex-end;
  flex-direction:column;
  align-items:flex-end;
  padding: 15px;
}
.card-content3 p{
  font-size: 14px;
  text-align: right;
  font-weight: 300;
  color: black;
  width: 200px;
  height: 103px;
  overflow:hidden;
  text-overflow: clip;
}
.card-content3 h5 {
  font-weight: 700;
}

.button-close{
  background-color: white;
  color: #702283;
  border: 0px solid white;
  border-radius: 0px;
  font-weight: 400;
  font-size: 16px;
}

.card-content3 button:hover{
  color: white;
  background-color: #00a870;
  font-weight: 400;
}
.card-body3 {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    transition: 0.3s;


  }
.card-body3 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 15px 15px 0px 15px ;
  }


.card-content4 p {
  padding-left: 25px;
  width: 245px;
  height: 50px;
  font-size: 12px;
  display: inline-block;
}

.card-content4 button{
  float: right;
  margin-right: 20px;
  vertical-align: middle;
}


.card-content4 button:hover{
  color: white;
  background-color: #00a870;
  font-weight: 500;
}
.card-content4 h6 {
padding-left: 25px;
padding-top:10px;
color: #702283;
font-weight: bold;
}
.scroll {
    max-height: 230px;
    overflow-y: auto;
    margin-top: 15px;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none;
}
.card-content5{
  padding: 15px 15px 0px 15px;
}
.card-content5 img {
  display: inline-block;

}
.card-content6{
  padding: 15px 15px 0px 15px;
}
.card-content6 img {
  display: inline-block;
}
.card-content6 h6 {
  color:#702283;
  font-weight: 600;
  display:inline-grid;
  text-align:center;
  vertical-align: middle;
}
.card-text5{
font-size: 13px;
max-width: 250px;


}
.categories{
  display: flex;
  justify-content:flex-start;
  flex-direction:column;
  align-items:center;
}
.card-body4{
  display: flex;
  justify-content:flex-start;
  flex-direction:column;
  align-items:center;
}
.card-content5 h6 {
  font-size: 10px;
  padding: 15px 10px 0px 10px;
  font-weight: 600;
  display:inline-grid;
  text-align: center;
  vertical-align: middle;
}
.card-content5 p{
  font-size: 12px;
  font-weight: normal;
  padding-top: 10px;
  vertical-align: middle;

}
.card-content5 button {
  float: right;
  margin-top:10px;
  font-weight: 600;
  font-size: 12px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  color: #702283;
  border: 1px solid #702283;
  border-radius: 5px;
  vertical-align: middle;
}
.card-content5 button:hover{
  color: white;
  background-color: #702283;
}

.vl {
  border-left: 3px solid #702283;
  height: 150px;
  padding-right: 20px;
}
.hr2{
  border-top: 1px solid #702283;
  margin: 25px 100px 25px 100px;
  opacity: 0.4;
}
.button-signin{
  background-color: white;
  padding: 5px 5px 5px 5px;
  color: #702283;
  border: 1px solid white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  margin-top: 25px;
}
.card-text2{
    color:Black;
    max-width: 235px;
    margin-left: 122px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
}
.button-signin:hover{
    color: white;
    background-color:#00a870 ;
    font-weight: 600;
  }

.AlreadySigned{
    display: flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
  }
.SignUpSocials{
  display: flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}
.btn{
margin: 5px;
width: 240px;
}
.card-body h5{
  color: #702283;
  display: flex;
  justify-content:center;
  align-items:center;
}
.card-title1
{
  font-size: 25px;
  margin-top: 4rem;
margin-bottom: 2.5rem;
}
.card-text1
{
  color:#00a870;
  margin-top: 35px;
  margin-right: 10px;
  color:;
}
.card1{
  display: flex;

}
.BigCard{

  display: flex;
  margin-bottom: 30px;
}
.InputUsername{
  display: flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}
.button-login{
  background-color: #702283;
  padding: 5px 5px 5px 5px;
  color: white;
  border: 1px solid #702283;
  border-radius: 3px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  max-width: 150px;
  margin-left: 157px;
}
.header1{
color:#702283;
padding-left: 420px;
padding-top: 50px;
font-size: 20px;
}
/* footer */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.socialcontent{
  margin: 20px 312px 10px 383px;


}
.vertical-line-footer{
  border-left: 2px solid #00a870;
  margin-left: 30px;
  margin-bottom: 25px;
  height: 60px;
  opacity: 0.55;
}
.location {
width: 160px;
}
.num {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info ul li a{
  color: black;
}
.info ul li a:hover{
  color: gray;
}
.socialcontent ul h6{
  color: #702283;
  font-weight: 500;
}
.location-info li{
  font-size: 14px;
}
.socialbuttons {
  display: flex;
  justify-content: center;
  margin-right: 102px;

}
.fa {
  margin: 5px 2px;
  width: 20px;
}
.fa-facebook {
  color: #00a870;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter {
  color: #00a870;
}
.fa-twitter:hover {
  color: #55ACEE;
}
.fa-pinterest {
  color: #00a870;
}
.fa-pinterest:hover {
  color: #cb2027;
}
.fa-instagram {
  color:#00a870;
}
.fa-instagram:hover {
  color: #e52d27;
}
.h4 {
  border-top: 2px solid gray;
  opacity: 0.1;
}
.hr3{
  border-top: 1px solid #00a870;
  margin-top: 70px;
  opacity: 0.4;
  margin-left: 60px;
  margin-right: 60px;
}
.copyright{
  margin-left: 60px;
  margin-right: 60px;
}

.dreamnav{
  margin-top: 20px;
  margin-left: 50px;
  display: inline-block;
  direction: rtl;
  padding:0 !important;
  position: fixed;


}
.dreamnav li{
  padding-bottom: 5px;
}
.dreamnav a{
  color: #00a870;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.dreamnav a:hover{
  color: #00a870;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.dreamnav .active {
  font-weight: bold;
}
.dreamnav .active:hover{
  color: #00a870;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.margin{
  margin-left: 173px;
  margin-right: 57px;
  margin-top: 26px;
}
.card-feed{
  display: flex;
  width: 550px;

}

.card-feed h6{
  color: #702283;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px 5px 20px;
}
.card-feed img{
  width: 280px;
  height: 195px;
}
.card-feed .card-text{
  margin: 0px 0px 0px 20px;
  width: 250px;
  font-size:14px;
  font-weight: normal;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-feed-user{
  display: flex;
  justify-content:flex-end;
}
.follow {
  color: #702283;
  font-size: 14px;
  font-weight:600;
  margin-left: 20px;
}

.follow:hover{
  color: #00a870;
  font-size: 14px;
  font-weight:600;
}
.atprofile-feed{
  color: #00a870;
  font-size: 14px;
  font-weight:600;
  margin-right: 35px;
  margin-top: -22px;
}

.card-feed-user .socialbuttons-feed{
  display: flex;
  padding: 0 !important;
  margin-left: 10px;
  margin-top: -20px;
  margin-right: 3px;
}

.socialbuttons-feed .fa {
  margin: 7px;
  width: 5px;
}

.card-feed-dreams{
  display: flex;
  width: 550px;
  padding-top: 15px;
}
.feed-dreamcard{
  margin-right:20px;
  width: 170px;
}
.feed-dreamcard img{
  height: 123px;
}

.dreamcard-content h6{
  color: #702283;
  font-size: 14px;
  font-weight:bold;
  margin-top: 5px;
}
.dreamcard-content p{
  font-size: 10px;
  width: 100px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dreamcard-content .btn-more{
  font-weight: 600;
  font-size: 10px;
  background-color: white;
  padding: 7px;
  color: #00a870;
  border: 1px solid #00a870;
  border-radius: 5px;
  vertical-align: middle;
  float: right;
  margin-right: 10px;
}
.dreamcard-content .btn-more:hover{
  color: white;
  background-color: #00a870;
  font-weight: 500;
}
.dreamfeed-hr{
  border-top: 1px solid #00a870;
  opacity: 0.2;
  width: 550px;
}

.dreamfeed-left {
  width:292px;
  position: relative;
}
.dreamfeed-left img{
  width: 292px;
  height: 170px;
}
.dreamfeed-left h6{
  color: #702283;
  font-size: 14px;
  font-weight:bold;
  margin-top: 10px;
}
.dreamfeed-left p{
  font-size: 10px;
  width: 200px;
  margin-top: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dreamfeed-left .btn-more{
  font-weight: 600;
  font-size: 12px;
  background-color: white;
  padding: 10px 20px;
  color: #00a870;
  border: 1px solid #00a870;
  border-radius: 5px;
  float: right;
  margin-top: -3px;
}
.dreamfeed-left .btn-more:hover{
  color: white;
  background-color: #00a870;
  font-weight: 600;
}
.dreamfeed-left-rate{
  width:292px;
  margin-bottom: 15px;

}
.dreamfeed-left-rate img{
  width: 90px;
  height: 60px;
}
.dreamfeed-left-rate h6 {
  font-size: 10px;
  padding: 10px 10px 0px 15px;
  font-weight: 600;
  display:inline-grid;
  text-align: center;
  vertical-align: middle;
}
.dreamfeed-left-rate p{
  font-size: 12px;
  font-weight: normal;
  padding-top: 10px;
  vertical-align: middle;

}
.dreamfeed-left-rate button {
  float: right;
  margin-top:10px;
  font-weight: 600;
  font-size: 10px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  color: #702283;
  border: 1px solid #702283;
  border-radius: 5px;
  vertical-align: middle;
}
.dreamfeed-left-rate button:hover{
  color: white;
  background-color: #702283;
}
.feed-dreamer{
  width: 550px;
  padding: 15px;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
  margin-top: 20px;

}
.feed-profileiqon{
max-width: 40px;
margin-right:15px;
margin-bottom: 10px;
}
.card-top{
  display: flex;
}
.card-top h6{
  color: #702283;
  font-size: 14px;
  font-weight:600;
  margin-top: 2px;
  display: inline;
}
.feed-action{
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  margin-top: -25px;
  margin-left: 55px;
}

.card-top .dreamer-atprofile{
  color: #00a870;
  font-size: 14px;
  margin-left: 20px;
  font-weight:500;

}
.card-top .timeposted{
  margin-left: 260px;
  color: #702283;
  font-size: 14px;
  font-weight:600;
}
.card-top .feed-card-usersettings-dropdown{
  margin-left: 13px;
  cursor: pointer;
}
.card-unit {
  display: flex;
}
.card-unit img{
  width: 190px;
  height: 120px;
}
.card-unit h6{
  font-size: 14px;
  color: #555555;
  font-weight: bold;
  margin-left: 20px;

}
.card-unit h6 p{
  font-size: 12px;
  width: 190px;
  max-height: 60px;
  color: black;
  font-weight: normal;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-unit .readmore-button {
  color: #00a870;
  font-size: 14px;
  font-weight:bold;
  border: none;
  background-color: #fff;
  margin-left: -5px;
}
.favorite-card{
  width:239px;
  height: 320px;
}
.favorite-card img{
  height: 210px;
}
.favorite-card-content h6 p{

}
.favorite-card-content h6{
  color: #702283;
  font-size: 14px;
  font-weight:bold;
  margin-top: 5px;
}
.favorite-card-content p{
  font-size: 10px;
  width: 160px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favorite-card-content .btn-more{
  font-weight: 600;
  font-size: 12px;
  background-color: white;
  padding: 10px 20px;
  color: #00a870;
  border: 1px solid #00a870;
  border-radius: 5px;
  float: right;
  margin-top: -10px;
}
.favorite-card-content .btn-more:hover{
  color: white;
  background-color: #00a870;
  font-weight: 600;
}
.h6-favorites{
  color : #702283;
  font-weight: 500;
}
.hr-favorites {
  border-top: 1px solid #00a870;
  opacity: 0.4;
}
.favorites-new-dreams {
  margin-top: 36px;
  width:279px;
  position: relative;
}
.favorites-new-dreams img{
  height: 170px;
}
.favorites-new-dreams h6{
  color: #702283;
  font-size: 14px;
  font-weight:bold;
  margin-top: 5px;
}
.favorites-new-dreams p{
  font-size: 10px;
  width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favorites-new-dreams .btn-more{
  font-weight: 600;
  font-size: 12px;
  background-color: white;
  padding: 10px 20px;
  color: #00a870;
  border: 1px solid #00a870;
  border-radius: 5px;
  float: right;
  margin-top: -13px;
}
.favorites-new-dreams .btn-more:hover{
  color: white;
  background-color: #00a870;
  font-weight: 600;
}
.favorites-new-dreams-rate{
  width:279px;
  margin-bottom: 15px;

}
.favorites-new-dreams-rate img{
  width: 80px;
  height: 50px;
}
.favorites-new-dreams-rate h6 {
  font-size: 10px;
  padding: 10px 10px 0px 15px;
  font-weight: 600;
  display:inline-grid;
  text-align: center;
  vertical-align: middle;
}
.favorites-new-dreams-rate p{
  font-size: 12px;
  font-weight: normal;
  padding-top: 10px;
  vertical-align: middle;

}
.favorites-new-dreams-rate button {
  float: right;
  margin-top:10px;
  font-weight: 600;
  font-size: 10px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  color: #702283;
  border: 1px solid #702283;
  border-radius: 5px;
  vertical-align: middle;

}
.favorites-new-dreams-rate button:hover{
  color: white;
  background-color: #702283;
}
.buttonok{
border-radius: 5px;
padding-left: 20px!important;
padding-right: 20px!important;
padding-top: 5px!important;
padding-bottom: 5px!important;
}
.Collection{
  display: flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
padding-left: 10px;
}
.Collection h6{
color:#702283;
max-height: 50px;
max-width: 250px;
display: table-cell;
vertical-align: middle;
text-align: center;
}
.leftarrow{
  display: flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
  padding-bottom: 80px;
  color:#00a870 !important;
}
.leftarrow h6{
  color:#00a870 !important;
}
.leftarrow span{
padding-bottom: 10px;
padding-right: 5px;
}
.Inbox h6{
  color:#702283;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  max-width: 220px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 40px;
}
.Inbox h5{
margin-bottom: 0px;
}
.Inbox{
  display: flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  padding-left: 10px;
}
.Edit h6{
  color:#702283;
  padding-top: 15px;
  padding-bottom: 15px;

}
.Edit h5{
margin-bottom: 0px;
}
.Edit{
  display: flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  padding-left: 10px;
}
::placeholder{
  opacity: 1;
}
.edititle{
  color:#00a870;
  margin-top: 0px;
  margin-right: 10px;
  color:;
  padding: 5px !important;
}
.Edit input{
  width: 280px;
}
.editdescription{
  height: 80px;
}
.Collection h5{
 margin-bottom: 0px;

}
.Collection input{
outline: 0;
border-width: 0 0 1px;

}
.Inbox a{
  border-radius: 5px;
  background-color:#00a870;
  color: white;
  font-size: 15px;
  padding-left : 10px;
  padding-right: 10px;
  margin-bottom: 55px;

}
.Inbox a:hover{
  color:#702283;
}
.Edit a{
  border-radius: 5px;
  background-color:#00a870;
  color: white;
  font-size: 15px;
  padding-left : 10px;
  padding-right: 10px;
  margin-bottom: 55px;
}
.Collection a{
  border-radius: 5px;
  background-color:#00a870;
  color: white;
  font-size: 15px;
  padding-left : 10px;
  padding-right: 10px;
  margin-bottom: 55px;
}
.Collection a:hover{
color:#702283;
}
.Edit a:hover{
  color:#702283;
}

/* .icon {
  display: inline-block;
} */
@media (min-width: 1200px){
.container {
    max-width: 1140px;
  }
}

@media (max-width: 767px){

  .card-border1{padding: 0;
  }
  .main{

margin-top: 120px;

  }

  header .row{
    padding-left: 0px;
    padding-right: 0px;
  }
  nav .nav{
    padding-left: 0px;

  }

  .card-body img{
   max-height: 80vw;

  }
.profile-menu{
padding-top: 40px;
}
}
    @media (min-width: 992px){
    .container {
        max-width: 960px;
      }
    }


    @font-face {
        font-family: 'Isidora Sans', sans-serif;
        src: url('IsidoraSans-Thin.eot');
        src: local('Isidora Sans Thin'), local('IsidoraSans-Thin'),
            url('IsidoraSans-Thin.eot?#iefix') format('embedded-opentype'),
            url('IsidoraSans-Thin.woff2') format('woff2'),
            url('IsidoraSans-Thin.woff') format('woff'),
            url('IsidoraSans-Thin.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'Isidora Sans', sans-serif;
        src: url('IsidoraSans-Light.eot');
        src: local('Isidora Sans Light'), local('IsidoraSans-Light'),
            url('IsidoraSans-Light.eot?#iefix') format('embedded-opentype'),
            url('IsidoraSans-Light.woff2') format('woff2'),
            url('IsidoraSans-Light.woff') format('woff'),
            url('IsidoraSans-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Isidora Sans', sans-serif;
        src: url('IsidoraSans-Regular.eot');
        src: local('Isidora Sans Regular'), local('IsidoraSans-Regular'),
            url('IsidoraSans-Regular.eot?#iefix') format('embedded-opentype'),
            url('IsidoraSans-Regular.woff2') format('woff2'),
            url('IsidoraSans-Regular.woff') format('woff'),
            url('IsidoraSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Isidora Sans', sans-serif;
        src: url('IsidoraSans-SemiBold.eot');
        src: local('Isidora Sans SemiBold'), local('IsidoraSans-SemiBold'),
            url('IsidoraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
            url('IsidoraSans-SemiBold.woff2') format('woff2'),
            url('IsidoraSans-SemiBold.woff') format('woff'),
            url('IsidoraSans-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }



    @font-face {
        font-family: 'Isidora Sans', sans-serif;
        src: url('IsidoraSans-Bold.eot');
        src: local('Isidora Sans Bold'), local('IsidoraSans-Bold'),
            url('IsidoraSans-Bold.eot?#iefix') format('embedded-opentype'),
            url('IsidoraSans-Bold.woff2') format('woff2'),
            url('IsidoraSans-Bold.woff') format('woff'),
            url('IsidoraSans-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Isidora Sans', sans-serif;
        src: url('IsidoraSans-Black.eot');
        src: local('Isidora Sans Black'), local('IsidoraSans-Black'),
            url('IsidoraSans-Black.eot?#iefix') format('embedded-opentype'),
            url('IsidoraSans-Black.woff2') format('woff2'),
            url('IsidoraSans-Black.woff') format('woff'),
            url('IsidoraSans-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'Isidora Sans', sans-serif;
        src: url('IsidoraSans-Medium.eot');
        src: local('Isidora Sans Medium'), local('IsidoraSans-Medium'),
            url('IsidoraSans-Medium.eot?#iefix') format('embedded-opentype'),
            url('IsidoraSans-Medium.woff2') format('woff2'),
            url('IsidoraSans-Medium.woff') format('woff'),
            url('IsidoraSans-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
